html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: white;
    border: 5px solid white;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(151, 151, 151);
    border-radius: 50px;
    border: 1px solid white;
}



.main_header {
    width: 100%; 
    border-bottom: solid rgb(0, 0, 0) 0.1px;
}



.main_header .main_header_content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-align: right;
}

.main_header .main_header_content img {
    flex-basis: 310px;
    padding: 0px;
    width: 90px;
}

.main_header .main_header_content h4{
    flex-basis: 310px;
    padding-top: 35px;
    text-align: left;
    font-weight: 900;
    font-size: 1.2rem;
    font-style: italic;
    color:#000000;
    text-decoration: none;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100%);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
    text-align: right;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: space-between;
    height: 100%;
    color:#947943;
}

.main_header_content_menu ul li a:hover{
    color:#000000;
    background: linear-gradient(to right, rgb(245, 234, 172), rgb(251, 198, 148));
}



/* INCIO DOBRA INPUTS */

.main-login-aluno{
    width: 100vw;
    height: 1400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-login{
    width: 100vw;
    height: 1400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 40vw;
    height: 173vh;
    display: flex;
    margin-top: 0px;
    align-items: center;
    flex-direction: column;
}

.left-login h1{
    color: rgb(212, 180, 109);
    font-size: 3rem;
    margin-top: 0px;
    display: flex;
    text-align: center;
}
.left-login-image{
    width: 35vw;
    margin-bottom: 190px;
    margin-top: 0px;
    

    
}

.right-login{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #fbfbfb;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgb(213, 213, 213);

}

.card-login-personal{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgb(213, 213, 213);
    color: #fbfbfb;

}


.card-login h1{
    color: rgb(212, 180, 109);
    font-weight: 800;
    margin: 0;
}

.card-login-personal h1{
    color: rgb(212, 180, 109);
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=text]  {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f5e2;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 5px 10px rgb(241, 234, 197);
    outline: none;
    box-sizing: border-box;
}

.textfield .wrapInputRadio{
    padding: 11px;
}



.textfield textarea{
    width: 100%;
    height: 180px;
    border: 1px solid #f9f5e2;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f5e2;
    color: black;
    font-size: 12pt;
    /* box-shadow: 0px 5px 10px rgb(241, 234, 197); */
    outline: none;
}

.textfield .shortInput{
    width: 95px;
    display: block;

}

.flex-row{
    display: flex;
    flex-direction: row;
}

.center-text{
    display: flex;
    align-items: center;
}

select{
    width: 80%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    background: #fbfbfb;
}

option{
    width: 80%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    background-color: #fbfbfb;
}




/* 
.textfield_row .cvv{
        width: 25%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
}
.textfield_row .cpf{
        width: 50%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
} */

/* 
.textfield_column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield_column .data_nasc{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.textfield_column input{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
        margin: 10px 10px;
}
.textfield_column .num_cartao{
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f5e2;
        color: black;
        font-size: 12pt;
        box-shadow: 0px 5px 10px rgb(241, 234, 197);
        outline: none;
        box-sizing: border-box;
        margin: 10px 10px;
}
 */


.textfield label{
    color: black;
    margin-bottom: 10px;
}

.card-login-personal .textfield label{
    color: #fbfbfb;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: rgb(48, 48, 48); 
}

.btn-login{
    width: 45%;
    padding: 16px 0px;
    margin: 5px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: rgb(239, 226, 153);;
    color: black;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0px 10px 40px -12px rgb(240, 229, 167);
    text-decoration: none;
    list-style: none;
}
.btn-login:hover{
    opacity: 1;
    background-color: rgb(253, 209, 107);
    text-decoration: none;
}

/* FIM TAMANHOO DOBRA LOGIN */