.introducao_link h1 {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin: 70px auto;
    margin-left: 40px;
    text-align: center;
}

.conteudo_quem {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.titulo_link {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 50px;
}

.subtitulo,
.conteudo_quem p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.conteudo_quem header:last-child {
    margin-bottom: 0;
}

.subtitulo {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.item-titulo {
    font-weight: bold;
    margin-top: 50px;
}

.item-descricao {
    margin-bottom: 10px;
}

.item-lista li {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 10px;
    list-style-type: none;
}