        .box {
            margin: 5% auto;
            color: rgb(0, 0, 0);
            position: relative;
            padding: 15px;
            width: 60%;
        }

        .box fieldset {
            background-color: #bebebe;
            border-radius: 25px;
            border: 2px solid #000;
        }

        .bg_form {
            background-color: #ebebeb;
        }

        /*fieldset{
            border: 3px solid dodgerblue;
        }*/

        /*INÍCIO FORMULÁRIO*/
        legend {
            border: 1px solid rgb(3, 3, 133);
            padding: 10px;
            text-align: center;
            background-color: rgb(3, 3, 133);
            border-radius: 8px;
            font-size: 2em;
            color: #dedede;
        }

        .endereco {
            display: flex;
            flex-wrap: wrap;
        }

        .endereco .inputBox {
            width: 40%;
            box-sizing: border-box;
            padding-right: 10px;
        }

        .main_form {
            background-color: #fff;
            border-radius: 10px;
        }

        .inputBox {
            position: relative;
            margin: 30px;
            font-weight: 500;
        }

        .inputUser {
            background: none;
            border: none;
            border: 1px solid #949494;
            background-color: #fff;
            height: 35px;
            border-radius: 5px;
            outline: none;
            color: black;
            font-size: 1.1em;
            width: 100%;
            letter-spacing: 2px;
            font-weight: 300;
        }

        .asterisk{
            font-size: 0.9em;
            color: rgb(158, 0, 0);
            margin-left: 5px;
        }

        .labelInput {
            position: absolute;
            top: 0px;
            left: 0px;
            margin-bottom: 10px;
            pointer-events: none;
            top: -23px;
            font-size: 1.2em;
            color: rgb(3, 3, 133);
            font-weight: 600;
            transition: .5s;
        }

        .labelInput2{
            font-size: 1.2em;
            color: rgb(3, 3, 133);
            font-weight: 600;
        }

        .fileInput {
            display: none;
            /* Esconde o campo de input real */
        }

        .fileInputLabel {
            background-color: #4CAF50;
            /* Cor de fundo do botão */
            font-weight: 500;
            font-size: 1em;
            color: white;
            /* Cor do texto do botão */
            padding: 10px 10px;
            /* Espaçamento interno do botão */
            border-radius: 4px;
            /* Arredonda as bordas do botão */
            cursor: pointer;
            /* Altera o cursor do mouse ao passar sobre o botão */
        }

        .fileInputLabel:hover {
            background-color: #45a049;
            /* Cor de fundo do botão ao passar o mouse */
        }

        #arquivo_selecionado_perfil{
            font-size: 1.1em;
        }

        #arquivo_selecionado_trabalho1{
            font-size: 1.1em;
        }

        #arquivo_selecionado_trabalho2{
            font-size: 1.1em;
        }

        .select-wrapper {
            border-radius: 5px;
        }

        .active {
            top: -23px;
            font-size: 1.2em;
            color: rgb(3, 3, 133);
            font-weight: 600;
        }

        #submit {
            background-color: rgb(3, 3, 133);
            width: 30%;
            border: none;
            padding: 15px;
            color: white;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 10px;
            align-items: center;
            opacity: 0.9;
            margin-right: 15px;
            border: 1px solid #000;
        }

        #cancel {
            background-color: rgb(0, 73, 122);
            width: 30%;
            border: none;
            padding: 15px;
            color: white;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 10px;
            align-items: center;
            opacity: 0.9;
            margin-left: 15px;
            border: 1px solid #000;
        }

        .btn_alinhamento {
            width: 100%;
            text-align: center;
            margin: 0px auto;
            margin-top: 10px;
        }

        #submit:hover {
            opacity: 1;
            transition: 0.2s;
        }

        #cancel:hover {
            opacity: 1;
            transition: 0.2s;
        }


        .main_cta .main_cta_content .main_cta_content_spacer_products {
            margin: 0 auto;
            max-width: 1300px;
            padding: 500px 40px;
        }

        .main_header_content_menu ul li a {
            padding: 0 26px;
            display: flex;
            align-items: center;
            height: 100%;
            color: #d36833;
        }

        /*FIM FORMULÁRIO*/

        /*MENU DE SERVIÇOS*/
        .seleciona_servicos {
            border: 0px solid rgb(161, 161, 161);
            border-radius: 5px;
            margin: 0px auto;
        }

        .categoria_servicos {
            width: 45%;
            font-size: 1.1em;
            margin: 10px auto;
        }

        .categoria_servicos ul {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
        }

        .servicos_lista {
            display: flex;
            margin: 10px 10px;
            gap: 20px;
            flex-wrap: wrap;
            border: 1px solid #bebebe;
            background-color: #fff;
            border-radius: 5px;
            border: 1px solid #656c75;
        }

        .coluna_servicos {
            margin-bottom: 10px;
            border: 0px solid black;
        }

        .servicos_oferecidos {
            display: flex;
            margin-left: 30px;
        }

        .servicos_lista ul {
            list-style-type: none;
        }

        .nenhum_servico{
            display: flex;
            justify-content: center;
            font-weight: 600;
            margin: 30px auto;
        }

        /*FIM MENU DE SERVIÇOS*/

        .descricao_form {
            width: 100%;
            height: 150px;
            padding: 10px;
            font-size: 1.1em;
            border: 1px solid #bebebe;
            border-radius: 4px;
            resize: vertical;
            -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
            box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        }

        .servicos-obrigatorio {
            display: flex;
            justify-content: center;
            color: rgb(0, 0, 0);
            font-size: 1.1em;
            margin-top: 5px;
            margin: auto 30px;
            border-radius: 5px;
            background-color: #a05f5f;
        }
        