.container {
    max-width: 80%;
    width: 80%;
    margin: 100px auto;
    padding: 30px 50px;
    background-color: #f2f2f2;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    box-sizing: border-box;
    position: relative;
}

.container_titulo {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

.perfil-btn,
.perfil-btn-link {
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    opacity: 0.9;
    display: flex;
    align-items: center;
}

[id^="edit-cli-ava"],
.perfil-btn-link {
    /* Estilização para o botão de "Editar avaliação" */
    background-color: rgb(0, 73, 122);
    padding: 10px 20px;
    width: 210px;
    display: flex;
    justify-content: center;
}

#delete-cli-ava {
    /* Estilização para o botão de "Excluir avaliação" */
    background-color: rgb(158, 0, 0);
    padding: 10px 20px;
    width: 210px;
    display: flex;
    justify-content: center;
}

.perfil-btn:hover,
.perfil-btn-link:hover {
    opacity: 1;
    transition: 0.2s;
}


#edit-perfil {
    position: absolute;
    font-size: 1.2em;
    top: 15px;
    right: 30px;
    background-color: rgb(0, 73, 122);
    padding: 15px;
}

#delete-perfil {
    position: absolute;
    font-size: 1.2em;
    top: 75px;
    right: 30px;
    background-color: rgb(158, 0, 0);
    padding: 5px;
    width: 120px;
}

.avaliacao-botoes {
    display: flex;
    gap: 10px; /* Adicione o espaçamento desejado entre os botões */
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.avaliacao-link {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.avaliacao-link:hover {
    text-decoration: underline;
}

.dados {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
}

.dados-pessoais_cli {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 55%;
    flex-wrap: wrap;
}

.dados-endereco {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 45%;
    flex-wrap: wrap;
}

.campo_titulo_perfil {
    display: flex;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(0, 73, 122);
}

.dado_pessoal_perfil {
    display: flex;
    font-size: 1.2em;
}

.servicos-oferecidos-perfil {
    display: block;
    text-align: left;
}

.destaque-servico {
    font-weight: 600;
    color: #333;
}

.descricao {
    margin-top: 40px;
    flex-basis: 100%;
}

.descricao_titulo {
    display: flex;
    font-size: 1.5em;
    color: #333;
    margin-top: 50px;
}

.titulo_descricao_perfil{
    font-weight: bold;
    color: rgb(0, 73, 122);
}


.descricao_negocio {
    background-color: #fff;
    margin-top: 10px;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    max-width: 385px; /* Largura máxima */
    overflow: hidden; /* Oculta a rolagem vertical */
}

.descricao_negocio p {
    margin: 0;
    line-height: 1.5;
    text-align: left;
    overflow: hidden; /* Oculta a rolagem vertical */
    white-space: pre-wrap; /* Permite quebra de linha */
    word-wrap: break-word; /* Quebra de palavra */
}


.imagens_perfil{
    display: flex;
    width: 230px;
    height: 220px;
    margin: 20px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    transition: 0.1s all ease-out;
    border: 7px solid #333;
    padding: 10px;
}


.imagens_perfil_trabalho{
    display: flex;
    margin: 30px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    transition: 0.1s all ease-out;
}

.imagens_perfil_trabalho:hover{
    transition: 0.2s;
    scale: 1.3;
}

.whatsapp_btn{
    margin-top: 40px;
    transition: 0.8s all ease-out;
}

.whatsapp_btn:hover{
    scale: 1.05;
    transition: 0.8s;
}

.imagens_trabalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    margin-top: 40px;
}

.imagens_trabalho_titulo {
    font-size: 1.5em;
    color: #333;
}

.imagens_trabalho_img {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    border-radius: 10px;
}

.campo {
    margin-bottom: 10px;
}

.avaliacoes {
    flex-basis: 100%;
    margin-top: 20px;
    text-align: left;
    padding: 0 30px;
}

.avaliacoes_titulo{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 50px;
}

.avaliacao_form_titulo{
    font-size: 1.5em;
    color: #333;
    margin-top: 100px;
    margin-bottom: 50px;
}

.avaliacoes>h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #333;
}

.avaliacao-item {
    margin: 20px 30px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1.2em;
    background-color: #fff;
}

.avaliacao-nome {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.avaliacao-data {
    font-size: 1em;
    margin-bottom: 10px;
    color: #333
}

.avaliacao-negocio {
    font-size: 1.4em;
    color: rgb(0, 73, 122);
    /* Adicionado */
    margin-bottom: 20px;
}

.avaliacao-titulo {
    font-weight: bold;
}

.estrelas_alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao-estrelas {
    margin-bottom: 5px;
}

.estrelas_ind{
    transition: 0.2s all ease-out;
}

.estrelas_ind:hover{
    scale: 1.4;
    transition: 0.2s;
}

.avaliacao-pontuacao {
    margin-right: 10px;
}

.avaliacao-comentario {
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 20px 10px;
    border: 1px solid #ddd;
}

.avaliacao-form {
    margin-top: 20px;
}

.avaliacao-form>h2{
    margin-top: 30px;
    font-size: 1.5em;
    color: #333;
}

.campo-avaliacao {
    margin-bottom: 10px;
}

.btn_enviar_ava_perfilpro{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 73, 122);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn_enviar_ava_perfilpro:hover {
  background-color: rgb(3, 3, 133);
}


.label_perfil {
    display: block;
    font-size: 1.3em;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
    color: rgb(3, 3, 133);
    font-weight: 600;
}

.input_perfil[type="text"],
.input_perfil[type="number"],
.input_perfil[type="email"],
.input_perfil[type="tel"] {
    display: flex;
    font-size: 1.2em;
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.input_perfil2[type="text"], textarea {
    display: flex;
    font-size: 1.2em;
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 100px;
}

.historico-avaliacoes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.historico-avaliacoes-titulo {
    display: flex;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin: 70px auto;
    align-items: center;
    justify-content: center;
}

.btn_historico {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn_historico:hover {
    background-color: #45a049;
}