body{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main_material{
    width: 100%;
    margin: 0 auto;
}

.main_material_content{
    background-color: #72cebf;
    padding: 40px;
    margin: 0 auto;
    color:#0f2423;
    text-align: left;
}

.main_forum_content{
    text-align: center;
    display: contents ;
    flex-wrap: wrap;

}

.comentario textarea{
    border-radius: 20px;
    border: 2px solid #72cebf;
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0;
    padding: 10px;
}

article{
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
    opacity: 0.7;
}
article:hover{
    opacity: 1;
    border: 3px solid darkcyan;
}


.category_comment{
    background-color: darkcyan;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    max-width: 150px;
    margin-left: 1100px;
}

.category_comment a {
    color: #fff;
}

.category_comment a:hover{
    color: black;
    background-color: darkcyan;
    opacity: 0.9;
}

.alinhamento{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
}